.features {
  width: 100%;
  /* height: 1191px; */
  background: var(--Grey);
  padding: 128px 10%;
}
.features .headFeatures {
  /* width: 419px; */
  width: 32.73%;
  color: var(--Dark-blue);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 12px;
}
.features .headDesign {
  /* width: 630px; */
  width: 100%;
  margin: 0 auto;
  margin-bottom: 47px;
}
.features .headDesign h2 {
  color: var(--Dark-blue);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
.features .cardFeaturs {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  column-gap: 2.5%;
  row-gap: 24px;
  justify-content: center;
}
.features .cardFeaturs div {
  width: inherit;
  height: inherit;
  background: #fff;
  padding:58px 20px  20px 48px;
}
.features .cardFeaturs div svg {
  width: 32px;
  height: 27.921px;
  /* flex-shrink: 0; */
  margin-bottom: 22.8px;
}
.features .cardFeaturs div h6 {
  /* width: 314.748px; */
  width: 90%;
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 12px;
}
.features .cardFeaturs div p {
  width: 90%;
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
