.blogHeader {
  width: 100%;
  padding: 128px 33% 48px 16.75%;
}
.blogHeader h6 {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  opacity: 0.8;
  margin-bottom: 12px;
}
.blogHeader h2 {
  width: 75%;
  /* width: 646px; */
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
.blogHeader p {
  width: 100%;
  /* width: 817px; */
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
}
