.ourWork2 {
  width: 100%;
  padding: 96px 10% 128px 10%;
  /* text-align: center; */
}
.ourWork2 .spans {
  width: 100%;
  /* width: 473px; */
  text-align: center;
  margin-bottom: 48px;
}
.ourWork2 .spans span {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-right: 2.5%;
}
.firtSpan {
  color: var(--Royal-Blue) !important;
}
.ourWork2 .workCards {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.ourWork2 .workCards .workCard {
  width: 48.67%;
  /* width: 623px; */
}
.ourWork2 .workCards .workCard img {
  width: 100%;
  padding: 30px 39px;
  background: linear-gradient(131deg, #f4ede1 16.74%, #98b1c6 103.17%);
  object-fit: cover;
}
.ourWork2 .workCards .workCard:nth-of-type(2) img {
  background: linear-gradient(131deg, #ffd3af 16.74%, #4f56ff 103.17%);
}
.ourWork2 .bgWorkCards2 .workCard img {
  background: linear-gradient(131deg, #eebca7 16.74%, #c8c8c8 103.17%);
}
.ourWork2 .bgWorkCards2 .workCard:nth-of-type(2) img {
  background: linear-gradient(131deg, #c2e7f2 16.74%, #98a4ff 103.17%);
}
.ourWork2 .bgWorkCards3 .workCard img {
  background: linear-gradient(131deg, #c5bcff 16.74%, #9bf6d5 103.17%);
}
.ourWork2 .bgWorkCards3 .workCard:nth-of-type(2) img {
  background: linear-gradient(131deg, #d2d6fd 16.74%, #d6acea 103.17%);
}
.ourWork2 .workCards .workCard h3 {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 12px;
}
.ourWork2 .workCards .workCard p {
  width: 100%;
  color: var(--Dark-blue);
  text-align: justify;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 24px;
}
.ourWork2 .workCards .workCard a {
  color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-decoration: none;
  column-gap: 16px;
  margin-bottom: 64px;
}
.ourWork2 .workCards .workCard a svg {
  width: 24px;
  fill: var(--Dark-blue);
  stroke-width: 2px;
  stroke: var(--Dark-blue);
}
